# Explore here

In [1]:
import pandas as pd
file = "/workspace/Time-Series-Acea-Smart-Water-Analytics-/data/raw/Aquifer_Auser.csv"
total_data = pd.read_csv(file)

1. Analisis descrptivo de datos

In [2]:
total_data.head()

,Date,Rainfall_Gallicano,Rainfall_Pontetetto,Rainfall_Monte_Serra,Rainfall_Orentano,Rainfall_Borgo_a_Mozzano,Rainfall_Piaggione,Rainfall_Calavorno,Rainfall_Croce_Arcana,Rainfall_Tereglio_Coreglia_Antelminelli,...,Temperature_Monte_Serra,Temperature_Ponte_a_Moriano,Temperature_Lucca_Orto_Botanico,Volume_POL,Volume_CC1,Volume_CC2,Volume_CSA,Volume_CSAL,Hydrometry_Monte_S_Quirico,Hydrometry_Piaggione
0,05/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,06/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,10.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,07/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.2,0.0,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,08/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.4,0.0,13.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.4,0.0,12.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Date                                     8154 non-null   object
 1   Rainfall_Gallicano                       5295 non-null   float64
 2   Rainfall_Pontetetto                      5295 non-null   float64
 3   Rainfall_Monte_Serra                     5289 non-null   float64
 4   Rainfall_Orentano                        5295 non-null   float64
 5   Rainfall_Borgo_a_Mozzano                 5295 non-null   float64
 6   Rainfall_Piaggione                       4930 non-null   float64
 7   Rainfall_Calavorno                       5295 non-null   float64
 8   Rainfall_Croce_Arcana                    5295 non-null   float64
 9   Rainfall_Tereglio_Coreglia_Antelminelli  5295 non-null   float64
 10  Rainfall_Fabbriche_di_Vallico            5295 non-null   float64
 11  Depth_to_Groundwater_LT2                 4802 non-null   float64
 12  Depth_to_Groundwater_SAL                 4545 non-null   float64
 13  Depth_to_Groundwater_PAG                 3807 non-null   float64
 14  Depth_to_Groundwater_CoS                 4315 non-null   float64
 15  Depth_to_Groundwater_DIEC                3270 non-null   float64
 16  Temperature_Orentano                     8154 non-null   float64
 17  Temperature_Monte_Serra                  8154 non-null   float64
 18  Temperature_Ponte_a_Moriano              8154 non-null   float64
 19  Temperature_Lucca_Orto_Botanico          8154 non-null   float64
 20  Volume_POL                               5660 non-null   float64
 21  Volume_CC1                               5660 non-null   float64
 22  Volume_CC2                               5660 non-null   float64
 23  Volume_CSA                               5660 non-null   float64
 24  Volume_CSAL                              5660 non-null   float64
 25  Hydrometry_Monte_S_Quirico               7241 non-null   float64
 26  Hydrometry_Piaggione                     6119 non-null   float64
dtypes: float64(26), object(1)
memory usage: 1.7+ MB

In [8]:
# AnÃ¡lisis descriptivo de datos
data_info = total_data.info()
missing_values = total_data.isnull().sum()
descriptive_stats = total_data.describe()

data_info, missing_values, descriptive_stats

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Date                                     8154 non-null   object
 1   Rainfall_Gallicano                       5295 non-null   float64
 2   Rainfall_Pontetetto                      5295 non-null   float64
 3   Rainfall_Monte_Serra                     5289 non-null   float64
 4   Rainfall_Orentano                        5295 non-null   float64
 5   Rainfall_Borgo_a_Mozzano                 5295 non-null   float64
 6   Rainfall_Piaggione                       4930 non-null   float64
 7   Rainfall_Calavorno                       5295 non-null   float64
 8   Rainfall_Croce_Arcana                    5295 non-null   float64
 9   Rainfall_Tereglio_Coreglia_Antelminelli  5295 non-null   float64
 10  Rainfall_Fabbriche_di_Vallico            5295 non-null   float64
 11  Depth_to_Groundwater_LT2                 4802 non-null   float64
 12  Depth_to_Groundwater_SAL                 4545 non-null   float64
 13  Depth_to_Groundwater_PAG                 3807 non-null   float64
 14  Depth_to_Groundwater_CoS                 4315 non-null   float64
 15  Depth_to_Groundwater_DIEC                3270 non-null   float64
 16  Temperature_Orentano                     8154 non-null   float64
 17  Temperature_Monte_Serra                  8154 non-null   float64
 18  Temperature_Ponte_a_Moriano              8154 non-null   float64
 19  Temperature_Lucca_Orto_Botanico          8154 non-null   float64
 20  Volume_POL                               5660 non-null   float64
 21  Volume_CC1                               5660 non-null   float64
 22  Volume_CC2                               5660 non-null   float64
 23  Volume_CSA                               5660 non-null   float64
 24  Volume_CSAL                              5660 non-null   float64
 25  Hydrometry_Monte_S_Quirico               7241 non-null   float64
 26  Hydrometry_Piaggione                     6119 non-null   float64
dtypes: float64(26), object(1)
memory usage: 1.7+ MB

(None,
 Date                                          0
 Rainfall_Gallicano                         2859
 Rainfall_Pontetetto                        2859
 Rainfall_Monte_Serra                       2865
 Rainfall_Orentano                          2859
 Rainfall_Borgo_a_Mozzano                   2859
 Rainfall_Piaggione                         3224
 Rainfall_Calavorno                         2859
 Rainfall_Croce_Arcana                      2859
 Rainfall_Tereglio_Coreglia_Antelminelli    2859
 Rainfall_Fabbriche_di_Vallico              2859
 Depth_to_Groundwater_LT2                   3352
 Depth_to_Groundwater_SAL                   3609
 Depth_to_Groundwater_PAG                   4347
 Depth_to_Groundwater_CoS                   3839
 Depth_to_Groundwater_DIEC                  4884
 Temperature_Orentano                          0
 Temperature_Monte_Serra                       0
 Temperature_Ponte_a_Moriano                   0
 Temperature_Lucca_Orto_Botanico               0
 Volume_POL                                 2494
 Volume_CC1                                 2494
 Volume_CC2                                 2494
 Volume_CSA                                 2494
 Volume_CSAL                                2494
 Hydrometry_Monte_S_Quirico                  913
 Hydrometry_Piaggione                       2035
 dtype: int64,
        Rainfall_Gallicano  Rainfall_Pontetetto  Rainfall_Monte_Serra  \
 count         5295.000000          5295.000000           5289.000000
 mean             4.948782             3.495449              3.919077
 std             14.366480             9.983772             10.815270
 min              0.000000             0.000000              0.000000
 25%              0.000000             0.000000              0.000000
 50%              0.000000             0.000000              0.000000
 75%              2.000000             1.000000              1.600000
 max            318.800000           146.600000            152.200000

        Rainfall_Orentano  Rainfall_Borgo_a_Mozzano  Rainfall_Piaggione  \
 count        5295.000000               5295.000000         4930.000000
 mean            3.150670                  4.578961            3.953976
 std             8.747507                 12.771166           10.888103
 min             0.000000                  0.000000            0.000000
 25%             0.000000                  0.000000            0.000000
 50%             0.000000                  0.000000            0.000000
 75%             1.000000                  2.000000            1.400000
 max           108.800000                176.600000          140.800000

        Rainfall_Calavorno  Rainfall_Croce_Arcana  \
 count         5295.000000            5295.000000
 mean             4.578886               2.849745
 std             12.461918               9.239679
 min              0.000000               0.000000
 25%              0.000000               0.000000
 50%              0.000000               0.000000
 75%              2.000000               1.400000
 max            209.000000             285.000000

        Rainfall_Tereglio_Coreglia_Antelminelli  Rainfall_Fabbriche_di_Vallico  \
 count                              5295.000000                    5295.000000
 mean                                  4.182927                       5.922304
 std                                  11.135511                      16.281733
 min                                   0.000000                       0.000000
 25%                                   0.000000                       0.000000
 50%                                   0.000000                       0.000000
 75%                                   2.000000                       3.000000
 max                                 147.200000                     197.000000

        ...  Temperature_Monte_Serra  Temperature_Ponte_a_Moriano  \
 count  ...              8154.000000                  8154.000000
 mean   ...                11.202079                    10.971358
 std    ...                 6.903190                     8.708626
 min    ...                -7.850000                    -2.850000
 25%    ...                 5.650000                     0.000000
 50%    ...                11.000000                    10.875000
 75%    ...                16.700000                    18.550000
 max    ...                29.500000                    30.750000

        Temperature_Lucca_Orto_Botanico    Volume_POL    Volume_CC1  \
 count                      8154.000000   5660.000000   5660.000000
 mean                         15.501134  -9316.138433 -16301.825866
 std                           7.138789   2224.435459   1490.096594
 min                          -3.300000 -13883.225810 -18601.920000
 25%                           9.750000 -11004.654450 -17081.280000
 50%                          15.400000  -9728.571429 -16450.560000
 75%                          21.600000  -7323.783871 -15785.280000
 max                          31.050000  -4114.670400  -7149.791935

          Volume_CC2   Volume_CSA  Volume_CSAL  Hydrometry_Monte_S_Quirico  \
 count   5660.000000  5660.000000  5660.000000                 7241.000000
 mean  -11808.085531 -2352.562424 -1985.775034                    0.313618
 std     1444.085240  2854.176875  2534.301154                    0.213851
 min   -14438.304000 -7757.258065 -9497.774194                    0.000000
 25%   -12769.920000 -5493.709677 -4354.392857                    0.160000
 50%   -12078.720000     0.000000     0.000000                    0.260000
 75%   -11015.136000     0.000000     0.000000                    0.400000
 max    -5569.298387     0.000000     0.000000                    2.170000

        Hydrometry_Piaggione
 count           6119.000000
 mean              -0.209204
 std                0.849013
 min               -1.190000
 25%               -1.000000
 50%               -0.280000
 75%                0.580000
 max                3.690000

 [8 rows x 26 columns])

Feature engineering

In [13]:
import pandas as pd

# Convertir la columna 'Date' a formato de fecha
total_data['Date'] = pd.to_datetime(total_data['Date'], dayfirst=True)

# Verificar la conversiÃ³n
data_types_after_conversion = total_data.dtypes

# Tratamiento de valores faltantes: para este anÃ¡lisis inicial, vamos a reemplazar los valores faltantes
# con la media de cada columna. Esta es una estrategia simple y comÃºn, aunque no siempre es la Ã³ptima.
data_filled = total_data.fillna(total_data.mean())

# Verificar el resultado del tratamiento de valores faltantes
missing_values_after_filling = data_filled.isnull().sum()

# Mostrar solo las primeras 10 columnas por brevedad
data_types_after_conversion.head(10), missing_values_after_filling.head(10)

(Date                                       datetime64[ns]
 Rainfall_Gallicano                                float64
 Rainfall_Pontetetto                               float64
 Rainfall_Monte_Serra                              float64
 Rainfall_Orentano                                 float64
 Rainfall_Borgo_a_Mozzano                          float64
 Rainfall_Piaggione                                float64
 Rainfall_Calavorno                                float64
 Rainfall_Croce_Arcana                             float64
 Rainfall_Tereglio_Coreglia_Antelminelli           float64
 dtype: object,
 Date                                       0
 Rainfall_Gallicano                         0
 Rainfall_Pontetetto                        0
 Rainfall_Monte_Serra                       0
 Rainfall_Orentano                          0
 Rainfall_Borgo_a_Mozzano                   0
 Rainfall_Piaggione                         0
 Rainfall_Calavorno                         0
 Rainfall_Croce_Arcana                      0
 Rainfall_Tereglio_Coreglia_Antelminelli    0
 dtype: int64)

Eda